.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  color: #000;
  height: 45px;
  width: 100px;
}

.nav-button:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}

.nav-page-number {
  border-radius: 4px;
  height: 45px;
  line-height: 45px;
  margin: 0 5px;
  text-align: center;
  width: 45px
}

.nav-page-number-active {
  background-color: #000;
  color: #fff;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px
}